html {
    background-color: rgb(231, 158, 228);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    margin: 0;
    
}
header {
    display: flex;
    flex-direction: row;
    height: 50px;
    margin: 0;
    font-size: 40px;
    text-align: left;
    background-color: rgb(171, 86, 224);
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: right;
    text-align: right;
    margin-left:auto;


}
/* add hover elements to nav */
nav a {
    margin-top: 10px;
    /* flex-direction: row;
    justify-content: right; */
    margin-right: 0;
    margin-left: 10px;
    padding: 5px;
    font-size: 60%;
    border-style: solid;
    border-width:  1px black;
    
}

.butterflies {
    height: 15%;
    display: flex;
    transform: scale(1.4, 1);
    
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-left: 30%;
}

aside {
    display: flex;
    flex-direction: column;
}

aside a {
    font-size: 30px;
}