
html {
  background-color: rgb(231, 158, 228);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
/* body {
    margin: 0; */

header {
  display: flex;
  justify-content: space-between;
  /* flex-direction: row; */
  height: 50px;
  margin: 0;
  font-size: 40px;
  text-align: left;
  background-color: rgb(171, 86, 224);
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: right;
  text-align: right;
  margin-left: auto;
}
/* add hover elements to nav */
nav a {
  margin-top: 10px;
  flex-direction: row;
  justify-content: right;
  margin-right: 0;
  margin-left: 10px;
  padding: 5px;
  font-size: 60%;
  border-style: solid;
  border-width: 1px black;
}

.butterflies {
  display: flex;
  transform: scale(1.4, 1);
}
main {
  display: flex;
  flex-wrap: wrap;
}

section {
    display: flex;
    justify-content: center;
    padding: 5px;
    border-style: solid;
    border: 5px orange;
}
h2 {
    display: flex;
    align-items: flex-start;
    margin-left: 5%;
}
main a {
    display: flex;
    align-items: flex-end;
    margin-left: 10%;
    margin-right: 5%;
}

.work {
    display: grid;
    grid-template-columns: 30% 30%;
    grid-column: auto;

}

/* .area {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* max-width:  */
}
/* #about-me {
    max-height: fit-content;
     */ 

.clickable-imgs {
}

/* aside {
  flex: wrap;
  flex-direction: column;
  max-width: 25%;
  justify-content: flex-start;
  min-height: 100%;
  /* justify-content: space-between; */
}

/* why wont color show up?? */
/* aside a {
  font-size: 30px;
  border-style: solid;
  border: 2% rgb(132, 29, 150);
} */ 
