html {
    background-color: rgb(231, 158, 228);
}
body {
    margin: 0;
    
}
header {
    display: flex;
    height: 50px;
    margin: 0;
    font-size: 40px;
    text-align: left;
    background-color: rgb(171, 86, 224);
}

nav {
    display: flex;
    flex-direction: row;
}